<%- include('partials/header.ejs') %>
<body>
    
    <div class="container">
        <hr> 
        <div class="card mt-5">
            <div class="card-header">
                <h2>Registar Utilizador</h2>
            </div>
            <div class="card-body">
                <form action="/user/register" method="POST" enctype="multipart/form-data">
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                    <input class="form-control" name="password" type="password" placeholder="******"><br>
                    <input class="form-control" name="name" type="text" placeholder="Nome"><br>
                    <input class="form-control" name="location" type="text" placeholder="Cidade"><br>
                    <input class="form-control" name="picture" type="file"><br>
                    <button type="submit" class="btn btn-success btn-block">Registar</button>
                </form>
            </div>
        </div>
    </div>

</body>
<%- include('partials/footer.ejs') %>